.title-logo{
    padding-left: 6px;
    font-size: 1.3rem;
}
.title-logo-mobile{
    padding-left: 6px;
    font-size: 1.2rem;
}
.horizontal-menu .top-navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini img {
    width: 40px;
    max-width: 100%;
    margin: auto;
}
.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item {
    margin-bottom: 0;
    padding: 11px 13px;
    cursor: pointer;
}