/* CSS DU COMPOSANT APP SAINT-JEAN EUDES */

.d-flex > *,
.d-inline-flex > * {
  -webkit-box-flex: 0 !important;
  -ms-flex: auto !important;
  flex: 0 0 auto !important;
}
.container {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  margin: auto;
  padding: 0 36px;
  width: 100%;
}
p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.email-wrapper .mail-sidebar .menu-bar .menu-items li a {
  color: #303a40;
  font-size: 1rem;
  text-decoration: none;
}
.horizontal-menu
  .bottom-navbar
  .page-navigation
  > .nav-item
  > .nav-link
  .menu-title {
  font-size: 1rem;
  font-weight: 300;
}
.horizontal-menu .bottom-navbar .page-navigation > .nav-item .submenu ul li a {
  display: block;
  padding: 5px 10px;
  font-weight: 300;
  color: #686868;
  text-decoration: none;
  text-align: left;
  margin: 4px 0;
  text-overflow: ellipsis;
  font-size: 0.9rem;
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  border-radius: 6px;
}
.no-p-t{
  padding-top: 0;
}
.no-p-b{
  padding-bottom: 0;
}
.loader-demo-box {
    width: 100%;
    height: 667px;
    background: #211e1e17;
    position: fixed;
    z-index: 9999;
}